$ cat .gitignore
*.[oa]
*~
*.exe
*.txt
*.rar
TEDdownloader/bin/Debug/*.config
*.exe.manifest
*.vshost.exe
*.pdb
*.suo
TEDdownloader/obj/
TEDdownloader/bin/Debug/srt
_ReSharper.TEDdownloader
TEDdownloader.5.1.ReSharper.user
